openapi: 3.1.0
info:
  title: Vietnam Law API
  description: Search and retrieve Vietnamese legal regulations and laws.
  version: 1.1.0

servers:
  - url: https://mcp.ruleway.ai

paths:
  /find_regulation_by_code:
    post:
      operationId: findRegulationByCode
      summary: Find a regulation by its official code
      description: Returns metadata and full text of a regulation by its code. Use this first when the regulation code is known.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - regulation_code
              properties:
                regulation_code:
                  type: string
                  description: Official regulation code (e.g. 22/2025/TT-NHNN)
                regulation_level_id:
                  type: integer
                regulation_number:
                  type: integer
                regulation_year:
                  type: integer
      responses:
        "200":
          description: Regulation metadata and full text
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /find_regulations_referencing_code:
    post:
      operationId: findRegulationsReferencingCode
      summary: Find regulations that reference a given regulation code
      description: Finds regulations whose full text mentions the given regulation_code as an amendment, replacement, or partial repeal.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - regulation_code
              properties:
                regulation_code:
                  type: string
                limit:
                  type: integer
                  description: Maximum number of results (default 20, max 50)
      responses:
        "200":
          description: List of regulations referencing the code
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /find_related_regulations:
    post:
      operationId: findRelatedRegulations
      summary: Find regulations related to a given regulation code
      description: Returns metadata of regulations linked via the related_decrees field.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - regulation_code
              properties:
                regulation_code:
                  type: string
                limit:
                  type: integer
                  description: Maximum number of results (default 20, max 50)
      responses:
        "200":
          description: List of related regulations
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /get_field_of_law_codes:
    post:
      operationId: getFieldOfLawCodes
      summary: Get all field-of-law codes
      description: Returns all available legal field codes with multilingual aliases. Use this before calling list_regulations with a field_of_law filter.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: List of field-of-law codes
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /get_master_codes:
    post:
      operationId: getMasterCodes
      summary: Get regulation level and issuing body codes
      description: Returns IDs for regulation levels and issuing bodies. Use when filtering by level (law, decree, circular) or issuing body (ministry, government).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Master codes for levels and governors
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /list_regulations:
    post:
      operationId: listRegulations
      summary: List regulations by time or status
      description: Returns regulation metadata sorted by mode. Call get_field_of_law_codes first if filtering by sector. For expiring_soon mode always pass expiry_date_from=today. For regulation_status_type=PLAN always pass effective_date_from=today.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mode
              properties:
                mode:
                  type: string
                  enum:
                    - recent_effective
                    - recent_notice
                    - recent_updated
                    - expiring_soon
                  description: "Sort key: recent_effective=latest enacted, recent_notice=newly promulgated, recent_updated=amended/revised, expiring_soon=about to expire"
                regulation_status_type:
                  type: string
                  enum:
                    - CURRENT
                    - PLAN
                    - PAST
                  description: Filter by status. Default is CURRENT.
                field_of_law:
                  type: string
                  description: Field-of-law code (Vietnamese). Get from get_field_of_law_codes first.
                governor_id:
                  type: integer
                  description: Issuing body ID from get_master_codes.
                regulation_level_id:
                  type: integer
                  description: Regulation level ID from get_master_codes.
                limit:
                  type: integer
                  description: Maximum number of results (default 20, max 50)
                effective_date_from:
                  type: string
                  description: YYYY-MM-DD
                effective_date_to:
                  type: string
                  description: YYYY-MM-DD
                notice_date_from:
                  type: string
                  description: YYYY-MM-DD
                notice_date_to:
                  type: string
                  description: YYYY-MM-DD
                expiry_date_from:
                  type: string
                  description: YYYY-MM-DD
                expiry_date_to:
                  type: string
                  description: YYYY-MM-DD
      responses:
        "200":
          description: List of regulations metadata
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /search_regulations:
    post:
      operationId: searchRegulations
      summary: Search regulations by title keyword
      description: Searches regulation titles using a Vietnamese keyword. Use only when looking for a specific regulation by name. Translate query to Vietnamese before calling.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query_vi
              properties:
                query_vi:
                  type: string
                  description: Vietnamese legal title keyword (e.g. "Bo Luat Lao Dong" for Labor Code)
                regulation_status_type:
                  type: string
                  enum:
                    - CURRENT
                    - PLAN
                    - PAST
                regulation_level_id:
                  type: integer
                limit:
                  type: integer
                  description: Maximum number of results (default 20, max 50)
      responses:
        "200":
          description: List of matching regulations
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /search_regulation_chunks_by_vector:
    post:
      operationId: searchRegulationChunksByVector
      summary: Semantic search over regulation article chunks
      description: Vector similarity search over regulation article chunks. Query MUST be Vietnamese legal terms only - strip location words like Vietnam. Use content param for must-contain keyword filter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Vietnamese legal concept keywords only. Strip location words.
                content:
                  type: string
                  description: Optional must-contain keyword filter for 2nd-pass filtering of results.
                regulation_code:
                  type: string
                  description: Scope search to one regulation. Required when using article_number.
                article_number:
                  type: string
                  description: Article number (e.g. "3", "15"). Must be used with regulation_code.
                regulation_status_type:
                  type: string
                  enum:
                    - CURRENT
                    - PLAN
                    - PAST
                regulation_level_id:
                  type: integer
                governor_id:
                  type: integer
                top_k:
                  type: integer
                  description: Number of results (default 10, max 20)
                effective_date_from:
                  type: string
                  description: YYYY-MM-DD
                effective_date_to:
                  type: string
                  description: YYYY-MM-DD
                notice_date_from:
                  type: string
                  description: YYYY-MM-DD
                notice_date_to:
                  type: string
                  description: YYYY-MM-DD
                expiry_date_from:
                  type: string
                  description: YYYY-MM-DD
                expiry_date_to:
                  type: string
                  description: YYYY-MM-DD
      responses:
        "200":
          description: Matching regulation chunks with article numbers
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
